{% extends 'main/base.html' %}
{% block title %}Form{% endblock %}

{% block content %}
<div id="page">
<div style="clear: both;">&nbsp;</div>
<div class="container">
  <h2>Add your work</h2>
    <div style="clear: both;">&nbsp;</div>
  {% if submitted %}
  Your work is succesfully submitted!
  {% else %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

     <input type="submit" class="btn btn-dark" value = "Submit" >
   </form>
  {% endif %}
  </div>
</div>
{% endblock %}