{% extends 'main/base.html' %}
{% block title %}Index{% endblock %}

{% block content %}

	<!-- end #menu -->
	<div id="sidebar">

					<ul>

							<form class = "d-flex" method="POST" action="{% url 'search' %}" style="padding-left">
										  {% csrf_token %}
										  <input type="text" class="search-box form-control" placeholder="Search&hellip;" name="searched">
<!--										  <i class="material-icons">&#xE8B6;</i>-->

									  </form>


						<li>

							<ul>
								{% for g in genre %}
								{{ g }}:
								{% for i in g.genre.all %}
								{{ i.title }} <br>
								{% endfor %} {% endfor %}
							</ul>
						</li>
					</ul>
				</div>
				<div class="container">
				<div class="row">

							{%for i in ff %}

				<div id="content">

						  <div class="col-md">
							<h2 class="title"><a href="{% url 'fanfic_detail' i.id %}">{{i.title}}</a></h2>

<p class="meta">Posted by <a href="#">{{i.author}}</a> {{i.created_date}}
							&nbsp; &nbsp;&bull;&nbsp; <a href="#" class="permalink"><div class="container">
  <span id="rateMe2"  class="empty-stars"></span>
</div>
</a></p>
						<div class="entry">

						    <h4 class="title">Category: <a href="#">{{i.category}}</a></h4>
							<h4 class="title">Status: <a href="#">{{i.status}}</a></h4>
							<h4 class="title">Genre: {% for g in i.genre.all %} <a href="#">{{ g }}</a>{% endfor %}</h4>
						    <h4 class="title">Description: <a href="#">{{i.description}}</a></h4>


				<div style="clear: both;">&nbsp;</div>
							</div>
						 </div>
						</div>


						{%endfor%}
					</div>
					</div>

				</div>
				<!-- end #content -->

				<!-- end #sidebar -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
	<!-- end #page -->

<div id="footer">
	<p>All rights reserved 2022 <a href="{% url 'contact' %}">Contact us</a></p>
</div>
<!-- end #footer -->

{% endblock %}

